<?xml version='1.0' encoding='utf-8'?>
<widget id="ge.design.georoutes" versionCode="1.0"  version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <name>GeoRoutes</name>
    <description>
        GeoRoutes Application
    </description>
    <author email="" href="">
        Design.ge
    </author>

    <access origin="*" />
	
<allow-intent href="*" />
<allow-navigation href="*" />

    <icon platform="android" src="resources/logo.png" />
    <plugin name="cordova-plugin-file" source="npm"/>
    <plugin name="cordova-plugin-device" source="npm" />
    <plugin name="cordova-plugin-file-transfer" source="npm" />
    <feature name="Device">
        <param name="android-package" value="org.apache.cordova.device.Device" />
    </feature>
    <feature name="File">
        <param name="android-package" value="org.apache.cordova.file.FileUtils" />
    </feature>
    <feature name="FileTransfer">
        <param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer" />
    </feature>
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <plugin name="cordova-plugin-whitelist" source="npm"/>
    <plugin name="cordova-sqlite-storage" source="npm" />
    <plugin name="cordova-plugin-x-toast" source="npm" />
    <plugin name="cordova-plugin-geolocation" source="npm" />
    <plugin name="cordova-plugin-request-location-accuracy" source="npm" />
    <plugin name="cordova.plugins.diagnostic" source="npm" />
    <plugin name="cordova-plugin-x-socialsharing" source="npm">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="24.1.1+" />
    </plugin>

    <engine name="browser" source="npm" />
    <engine name="android" source="npm" />
</widget>
