@font-face {
  font-family: dejavu;
  src: url(fonts/BPG-GEL-DejaVu-Sans-Condensed.ttf);
}
@font-face {
  font-family: dejavu caps;
  src: url(fonts/BPG-GEL-DejaVu-Sans-Condensed-Caps.ttf);
}
@font-face {
  font-family: archy;
  src: url(fonts/archyedt-bold-webfont.ttf);
}